slurm*
search_scripts/hw_architecture/*
*.swp
*.swo
__pycache__/
all-time/
analysis/
cluster.py
commands/
create_config.sh
cross-validate.py
findFailed.py
hw_architecture/
launch_code/
oldcode/
result/
results/
scripts/
search_scripts/explore.sh
search_scripts/hidden_arch_search.sh
search_scripts/hw_architecture_search/
search_scripts/seq_arch_search.sh
staticAnalysis/
case_study/perf_model/energy_per_membit
case_study/perf_model/energy_per_flop/*
lib/
bin/
output/
output_graph/
venv/
astra_cache/
log/err.log
log/log.log
log/
mat_dims_llm.txt
Transformer_breakdown_results.txt
LLM_time_results.txt
astra-sim_og/