[submodule "astra-sim"]
	path = astra-sim
	url = https://github.com/nanocad-lab/astra-sim
[submodule "extern/graph_frontend/param"]
	path = extern/graph_frontend/param
	url = https://github.com/facebookresearch/param.git
