model_param:
    mode: "LLM"  # Mode of operation
    run_type: "inference"
    batch_size: 1024  # Batch size
    seq_len: 131072
    decode_len: 126976           # Number of autoregressive decode steps.
    # prefill_len = seq_len - decode_len (!!)
    hidden_dim: 8192
    num_heads: 64
    ffn_dim: 32768 # First FFN layer output dimension, typically 4 * D used when ffn_mult is NULL.
    ffn_mult: null # Multiplier for FFN dimension  This is prioritized over ffn_dim.
    vocab_size: 800000  # Vocabulary size
    num_layers: 96  # only 1 layer for now
    n_tokens: 10000000000  # Number of tokens to train on. Set to 1T for now.
    all_reduce: "every layer"  # When data parallel pre-apply grad all-reduce happens: "the end" or "every layer"
inference_param:
    sample_every: -1  # Sample decode steps every N steps for efficiency. -1 means only sample at start and end.